.placeholder-table{
  min-height: 2.5rem !important;
    border-radius: 4px !important;
    margin-bottom: 0.5rem !important;
    background-color: var(--vz-gray-400) !important;
}

.disabled{
  opacity: 0.8;
  pointer-events: none;
}

.dropzone {
    min-height: 160px !important;
}
